:root {
  font-size: 16px;
  --primary: #fe3dce;
  --secondary: #26afe6;
  --background-color: #0b111b;
  --background-color-secondary: #131923;
  --background-color-tertiary: #2b313a;

  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;

  background-color: var(--background-color);
}

.App {
  background-image: url(./bg.svg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

@media (max-width: 1280px) {
  .App {
    background-image: unset;
  }
}

.normal {
  text-decoration: none;
  color: unset;
}

* {
  transition: 250ms;
}